:root {
  --body-color: #212121;
  --logo-color: #2196f3;
  --contactos-color: #757575;
  --titulo-color: #2f303a;
  --h1-color: #ffffff;
  --footer-color: #2f303a;
  --boton-portafolio-color: #f5f4fa;
}
.logo {
  color: var(--logo-color);
  text-align: right;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-size: 26px;
  font-weight: 700;
  font-family: 'raleway', sans-serif;
}
.body {
  color: var(--body-color);
  font-family: 'Roboto', sans-serif;
}

.links {
  font-weight: 500;
  font-size: 14px;
}
.linkactual {
  color: var(--logo-color);
  font-weight: 500;
  font-size: 14px;
}
.links:hover {
  color: var(--logo-color);
}
.contactos {
  color: var(--contactos-color);
  font-weight: 500;
  font-size: 14px;
}
.contactos:hover {
  color: var(--logo-color);
}
.lista {
  list-style: none;
}
.titulo {
  width: 1600px;
  height: 600px;
  background: var(--footer-color);
}
.h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--h1-color);
}

.botonh1 {
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--h1-color);
  cursor: pointer;
}

.botonh1:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.servicios {
  list-style: none;
}
.h5 {
  width: 270px;
  height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-color);
}
.textoh5 {
  width: 270px;
  height: 75px;
  letter-spacing: 0.03em;
  color: var(--contactos-color);
}

.imagenes {
  list-style: none;
}
.personas {
  list-style: none;
}
.persona {
  width: 118px;
  height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

.h2 {
  width: 371.15px;
  height: 46.24px;
  font-family: 'Roboto';
  letter-spacing: 0.03em;
  color: var(--body-color);
}

#footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
  background: var(--footer-color);
  list-style: none;
}

.h3 {
  width: 145px;
  height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.address {
  width: 231px;
  height: 21px;
  letter-spacing: 0.03em;
  color: var(--h1-color);
  font-family: 'Roboto';
}

.contactos-inf {
  list-style: none;
}

.contacto-inf {
  width: 231px;
  height: 21px;
  font-family: 'Roboto';
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-align: left;
}

.cargo {
  width: 181px;
  height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contactos-color);
}

.botones-portafolio {
  list-style: none;
  cursor: pointer;
}
.boton-portafolio {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  background: var(--boton-portafolio-color);
  border-radius: 4px;
  cursor: pointer;
}

.boton-portafolio:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.boton-portafolio:active {
  background-color: var(--logo-color);
  color: var(--h1-color);
}

.imagenes-portafolio {
  list-style: none;
}
